html,body{
    margin:0;
}

body{
    background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
    width: 100%;
    height: 100%;
    background-color: rgb(240, 242, 245);
}